@import 'src/styles/variables';
@import 'src/styles/animations';

.login {
  border-radius: $step;
  border: 1px solid $color-palette-4;
  padding: 2*$step;

  &__form {
    min-width: 300px;

    &__inputs {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      & > * {
        margin-bottom: 2*$step;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__actions {
      display: flex;
      justify-content: center;
      margin-top: 2*$step;
    }
  }

  &__error {
    text-align: center;
    color: $color-error;
    margin: $step 0 0;
    animation: animation-fade-in 200ms;
  }
}