@import 'src/styles/variables';

.dashboard {
  max-width: calc (100vw - #{2*$step});
  width: 500px;

  &__filters-container {
    margin-bottom: 2*$step;
    width: 100%;
  }

  &__data-container {
    &__editor {
      margin-top: 2*$step;
    }
  }
}