// Sizes
$step: 8px;

// Colors
$color-white: #ffffff;

$color-palette-1: #5585b5;
$color-palette-2: #53a8b6;
$color-palette-3: #79c2d0;
$color-palette-4: #bbe4e9;

$color-error: #b90b0b;
$color-warning: #fb9935;