@import 'src/styles/variables';

.employee-table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: $color-palette-3;

    th {
      cursor: pointer;
    }
  }

  td, th {
    border: 1px solid $color-palette-1;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: $color-palette-4;
  }

}