.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &__header {
    background-color: greenyellow;
  }

  &__main {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  &__footer {
    background-color: aliceblue;
  }

}